
<nav>

    <ul class="nav-links">
        <li><div class="col ">
            <div id="File" class="btn-toolbar">File</div>
        </div></li>
        <li><div  class="col ">
            <div  id="Edit" class="btn-toolbar">Edit</div>
        </div></li>
        <li><div class="col">
            <div id="Viev" class="btn-toolbar">View</div>
        </div></li>
        <li><div class="col">
            <div id="Insert" class="btn-toolbar">Insert</div>
        </div></li>
        <li><div class="col">
            <div id="Cell" class="btn-toolbar">Cell</div>
        </div></li>
        <li><div class="col">
            <div id="Core" class="btn-toolbar">Core</div>
        </div></li>
        <li><div class="col">
            <div id="Help" class="btn-toolbar">Help</div>
        </div></li>
        <li> <iv id="run" class="col">
            <div class="btn-toolbar">Run</div>
        </iv></li>
        <li><div class="icon col" onclick="myFunction()">
            <a><i class="fa fa-bars"></i></a>
        </div></li>
    </ul>
    <div class="burger" onclick="navSlide()">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
    </div>
</nav>



