
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding-right: 0.16rem;
}

nav{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8vh;
    background-color: #ffffff;
    z-index: 1;
    

}

.nav-links{
    display: flex;
    justify-content: flex-start;
    width: 150%;
    z-index: 1;

}
.nav-links li{
    list-style: none;
}
.nav-links li div{
    text-align: center;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 1.28em;
    line-height: 2em;
    /* identical to box height */
    text-decoration:none;
    justify-content: center;
    display: flex;
    letter-spacing: 0.255em;
    color: #000000;
    text-align: unset;
    align-items: unset;
}

.burger{
    display: none;
    cursor: pointer;
}
.burger div {
    width: 20px;
    height: 3px;
    margin: 3px;
    background-color: #000000;
    margin-left: 0;
}




.btn-toolbar:hover{
    color: #6d6d6d;
    text-decoration:none;
    justify-content: center;
}
#run{
    align-items: center;
    justify-content: space-around;
    margin: 1%;
    cursor: pointer;
    list-style: none;

}


@media screen and (max-width:1000px){
    html, body {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    }
    nav{
        justify-content: left;

    }

    .nav-links{
        position: fixed;
        right: 0;
        height: 100vh;
        top: 0;
        background-color: #000000;

        flex-direction: column;
        align-items: center;
        width: 50%;
        width: 0% ;
        transition: width 0.1s ease-in ;

    }
    .nav-links li div{
        color: white;
    }
    .nav-links div {
        width: 100%;
    }
    .burger{
        display: block;


    }
    .btn-toolbar{
        height: 100%;
        width: 100%;
        position: relative;
        justify-content: center
    }
    .nav-links li {
        opacity: 0;
        transform: translateX(-60px);
    }
}

.nav-active{
    display: flex;
    width: 40% ;
    transition: width 0.2s ease-in ;
}
.nav-active .col-md-1{
    padding: 0;
    max-width: 0;
}

.square{
    background: rgba(0, 0, 0, 0.8);
    position: relative;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 3em;
    min-width: 3em;
    max-width: 3em;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.triangle-right {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-left: 1rem solid white;
    border-bottom: 0.5rem solid transparent;
    min-width: 4rem;
    left: 1.5em;
    top: 1.5rem;
    position: relative;
}

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -20rem;
    width: 20rem;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 3rem;
   
    color: #FFFFFF;
    text-decoration: none;
    background: rgba(51, 51, 51, 0.85);
    font-size: 1.3rem;
    padding-left: 0.8rem;
    font-family: segoe ui, serif;
    line-height: 32px;
    letter-spacing: 0.12em;
    padding-top: 0.5rem;
    padding-bottom: 0.12em;
    backdrop-filter: blur(10px);
}
.third-level-menu > li:hover {background: rgb(79, 91, 105); }

.second-level-menu
{
    position: absolute;
    width:20rem;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    box-shadow: 0px 4px 4px rgb(0 0 0.25);
}

.second-level-menu > li
{
    position: relative;
    height: 3rem;
    color: #FFFFFF;
    

    background: rgba(51, 51, 51, 0.85);
    
    backdrop-filter: blur(10px);

    font-size: 1.3rem;
    padding-left: 0.8rem;
    font-family: segoe ui, serif;
    line-height: 32px;
    letter-spacing: 0.12em;
    padding-top: 0.5rem;
    padding-bottom: 0.12em;
}
.second-level-menu > li:hover {
    background: rgb(79, 91, 105); }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: auto;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
}

.top-level-menu > li
{
    position: relative;
   
    
}


.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    
    text-decoration: none;
    

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.file-line{
    height:0.25rem;
    width: 20rem;
    background-color: #848484;
}