
<div class="tree">
    <label class="tree-item item">
        <input class="tree-cb" type="checkbox">

        <span class="tree-label">2015</span>

        <div class="tree-branches">

            <label class="tree-item item">
                <input class="tree-cb" type="checkbox">

                <span class="tree-label">January</span>
                <div class="tree-branches">
                    <label class="tree-item item">

                        <input class="tree-cb" type="checkbox">
                        <span class="tree-label">01</span>
                        <div class="tree-branches">
                            <label class="tree-item item">

                                <input class="tree-cb" type="radio" name="item">
                                <span class="tree-label">00:15 - 06:30</span>

                            </label>
                            <label class="tree-item item">

                                <input class="tree-cb" type="radio" name="item">
                                <span class="tree-label">07:15 - 07:45</span>

                            </label>
                            <label class="tree-item item">

                                <input class="tree-cb" type="radio" name="item">
                                <span class="tree-label">12:30 - 17:30</span>

                            </label>
                            <label class="tree-item item">

                                <input class="tree-cb" type="radio" name="item">
                                <span class="tree-label">17:45 - 18:30</span>

                            </label>
                            <label class="tree-item item">

                                <input class="tree-cb" type="radio" name="item">
                                <span class="tree-label">22:15 - 23:30</span>

                            </label>
                        </div>
                    </label>
                </div>
            </label>
        </div>
    </label>
    <label class="tree-item item">
        <input class="tree-cb" type="checkbox">

        <span class="tree-label">20d15</span>

        <div class="tree-branches">

            <label class="tree-item item">
                <input class="tree-cb" type="checkbox">

                <span class="tree-label">January</span>
                <div class="tree-branches">
                    <label class="tree-item item">

                        <input class="tree-cb" type="checkbox">
                        <span class="tree-label">01</span>
                        <div class="tree-branches">
                            <label class="tree-item item">

                                <input class="tree-cb" type="radio" name="item">
                                <span class="tree-label">00:15 - 06:30</span>

                            </label>
                            <label class="tree-item item">

                                <input class="tree-cb" type="radio" name="item">
                                <span class="tree-label">07:15 - 07:45</span>

                            </label>
                            <label class="tree-item item">

                                <input class="tree-cb" type="radio" name="item">
                                <span class="tree-label">12:30 - 17:30</span>

                            </label>
                            <label class="tree-item item">

                                <input class="tree-cb" type="radio" name="item">
                                <span class="tree-label">17:45 - 18:30</span>

                            </label>
                            <label class="tree-item item">

                                <input class="tree-cb" type="radio" name="item">
                                <span class="tree-label">22:15 - 23:30</span>

                            </label>
                        </div>
                    </label>
                </div>
            </label>
        </div>
    </label>
</div>



@code {

}