
<div>
    <ul>
        <li class="folder">
            <div class="arrow-right"></div>
            FolderFolderFolder
        </li>
        <li class="folder">Folder 2Folder 2Folder 2Folder 2</li>
        <li class="folder">Folder 3</li>
        <li class="folder">Folder 4</li>
        <li class="folder">Folder 5</li>
    </ul>
</div>

@code {

}