@using UIArtify.Services
@inherits LayoutComponentBase
@inject NavState NavState

<div class="page">
    @* <div class="sidebar"> *@
    @*     <NavMenu/> *@
    @* </div> *@
    <div class="main">

        <a href="#" class="ml-md-auto" @onclick="@(()=>NavState.Active = true)">About</a>
        <h1>@(NavState.Active)</h1>
        <NavBar />
            
            
            
            
            
                @* <div class="nav-menu-foreground" @onclick="ShowNavBar" style="position:absolute;z-index: 10000;color: white">menu</div> *@
        
        
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code{
    
    protected override void OnInitialized()
    {
        NavState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        NavState.OnChange -= StateHasChanged;
    }

}