@using UIArtify.Services
@inherits LayoutComponentBase
@inject NavState NavState


<div class="page">


    <div class="main">
        <div id="nav-wrapper">
            <div class="container">
                <div class="row row-no-padding no-gutters align-items-center" id="line">
                    <div class="col-3 float-left">
                        <div id="hamburger" @onclick="@(() => NavState.Active = true)">
                            <span class="ham" id="top"></span>
                            <span class="ham" id="middle"></span>
                            <span class="ham" id="bottom"></span>
                        </div>
                    </div>
                    <div class="col-9 float-right">
                        <div id="logo">
                            <span id="logo-text">ARTIF</span>Y
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <NavBar/>


        @* <div class="nav-menu-foreground" @onclick="ShowNavBar" style="position:absolute;z-index: 10000;color: white">menu</div> *@


        <div class="content container">
            @Body
        </div>

    </div>
</div>


@code{

    protected override void OnInitialized()
    {
        NavState.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        NavState.OnChange -= StateHasChanged;
    }

}