@inject IJSRuntime JSRuntime
@implements IAsyncDisposable

@if (!true){
    <div class="nav-menu-background" filter="blur">
        <div class="container nav-menu-foreground">
            <NavMenu/>
        </div>
    </div>
    
}
<div class="rose">1</div>
<input @bind="name" />
<button @onclick="Submit">Submit</button>
<button @onclick="async()=>await DisposeAsync()">Dispose</button>

@code {
    
    private string name;
    private Task<IJSObjectReference> _module;
    private Task<IJSObjectReference> Module => JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/isolated/NavBackground.razor.js").AsTask();
    
    
    async Task Submit()
    {
        await (await Module).InvokeVoidAsync("empty", name);
    }

    public async ValueTask DisposeAsync()
    {
        if (Module != null)
        {
            await (await Module).DisposeAsync();
        }
    }
    
}