<div class="query-holder">
    <div class="row row-no-padding no-gutters">
        <div class="col query-desc">
            <div class="query-desc-text">In[1]:</div>
        </div>
        <div class="col bg-black query-text">
            
        </div>
    </div>
</div>


@code {
    
}