.window-holder {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    margin-bottom: 1.6rem
    
}
.header-line{
    height: 2rem;
}
.button {
    max-width: 6rem;
}

#query-manager {
    left: 5rem;
}

.my-div-header {
    font-family: Segoe UI, serif;
    font-style: normal;
    font-weight: normal;

    line-height: 32px;

    letter-spacing: 0.12em;
    
    z-index: 10;
    background-color: #D9D9D9;
    color: #000000;
    text-align: left;
    cursor: default;
    padding-left: 1.5rem;
    font-size: 20px;
}

#collapse {
    background-color: black;

    color: white;




}

.bg-black {
    background-color: black;
    transition: all 0.2s ease-out;
}
.bg-black:hover {
    background-color: #4f4f4f;
}
.bg-red {
    background-color: #000000;
    transition: all 0.2s ease-out;
}

.bg-red:hover {
    background-color: #A33A3A;
}

.line-holder {

    margin: auto;

}

.line {
    width: 1rem;
    height: 1px;

    background-color: white;
}

.x-mark {
    position: relative;
    height: 1rem; /* this can be anything */
    width: 1rem;  /* ...but maintain 1:1 aspect ratio */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.x-mark::before,
.x-mark::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px; /* cross thickness */
    background-color: white;
}

.x-mark::before {
    transform: rotate(45deg);
}

.x-mark::after {
    transform: rotate(-45deg);
}

.container {
    position: relative;
    display: flex;
    background-color: rgba(0, 0, 0, 0.7);
    color: #ffffff;
    flex-direction: column;
    margin: 0;
}

.folder {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    display: flex;
    position: relative;
    align-items: center;
    letter-spacing: 0.12em;
    margin: 7px;
    list-style: none;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid white;
    border-radius: 2px;

}
.window-footer{
    background-color:#D9D9D9;
    min-height:0.5rem;
}
.content-wrapper{
    padding-top: 0.4rem;
    /*padding-bottom: 1.6rem;*/
    resize: both;
    overflow-y: scroll;
    overflow-x: hidden;
    min-width: 460px;
    min-height: 35px;
}
.scroller{
    scrollbar-color: rgba(231, 231, 231, 0.7) rgba(231, 231, 231, 0);
    transition: all ease-out 0.1s;
}
.scroller:hover{
    scrollbar-color: rgba(255, 255, 255, 0.8); rgba(231, 231, 231, 0);
}
.scroller::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
.scroller::-webkit-resizer {
    background-color:rgba(0, 0, 0, 0.7);
}

.scroller::-webkit-scrollbar-track-piece  {
    background-color: rgba(231, 231, 231, 0);
}

.scroller::-webkit-scrollbar-thumb:vertical {
    height: 0.5rem;
    background-color: rgba(231, 231, 231, 0.7) ;
}
.scroller::-webkit-scrollbar-thumb:horizontal {
    height: 0.5rem;
    background-color: rgba(231, 231, 231, 0.7) ;
}

.tab-name{
    padding-left: 1.4rem;
    font-size:1.15rem;
}