@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
   
}

a, .btn-link {
    color: #0366d6;
}
.nav-menu-background:hover {
    cursor: url(../images/cursor-white.png), auto;
}
.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    /*padding-top: 1.1rem;*/
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
.preloader{
    position: fixed;
    width: 100%;
    height: 100vh;
    align-items:center;
    top:25vh;
    text-align: center;
    background-color: white ;
    
    justify-items: center;
    justify-content: center;
}

.logo{
    text-align: right;

    font-family: "Open Sans", serif;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 41px;
    /* identical to box height */


    color: #FFFFFF;
}
.logo-text{
    letter-spacing: 0.865em;
}
.credentials{
    font-family: Open Sans, serif;
    font-style: normal;
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 23px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 0.3em;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 5rem;
    padding-bottom: 7rem;
}

.editor-style{
    height: 100%; !important;
    width: 100%; !important;
    min-height: 6rem;
    resize: vertical;
    overflow: hidden;
}
.monaco-editor{
    height: 100%;
}
.my-editor-class{
    min-height: 300px;
    resize: vertical;
    overflow-x: hidden;

}
.page-header-wide{
    font-family: "Attentica 4F UltraLight", serif;
    font-style: normal;
    font-weight: 250;
    font-size: 6.5vw;
    line-height: 100px;
    display: flex;
    align-items: center;
    letter-spacing: 0.805em;
    margin-left: -1rem;
    color: rgba(255, 255, 255, 0.3);

    backdrop-filter: blur(4px);
}
.container-fluid-black-main{
    background-color: black;
    min-height: 100vh;
    padding-top: 5.5vh;
}
.window-holder-markup{
    margin-top:9rem;
}
.window-markup{
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-size:1.25rem;
    font-family: "Segoe UI", serif;
    cursor: default;
    padding: 1.4375rem;
}
.fa-github{
    font-size:3rem;!important;
    color:white;
    transition: all 0.4s ease-out;
}
.fa-github:hover{
    color: rgba(255, 255, 255, 0.3);
}
.footer{
    margin-top: 7rem;

}