@page "/editor"
<div class="container-fluid navbar-container">
    <EditorToolbar/>
</div>

<div class="container-fluid container-container">
    <div id="window-container" class="container">
        <Window StyleId="file-manager" ParentId="window-container" TabName=@("Artifier")>
            <ExplorerContainer/>
        </Window>
        <Window StyleId="query-manager" ParentId="window-container" TabName=@("Some File") CloseButton="true">
            <QueryContainer/>
        </Window>
        <Window StyleId="query-manager2" ParentId="window-container" TabName=@("Some File2") CloseButton="true">
            <QueryContainer/>
            <QueryContainer/>
            <QueryContainer/>
        </Window>
    </div>
</div>