@page "/editor"
<EditorToolbar/>


<div id="window-container" class="container-fluid">
    <Window StyleId="file-manager" ParentId="window-container">
        <ExplorerContainer/>
    </Window>
    
</div>
