@page "/explore"


<div class="container-fluid">
    <div class="page-header-wide">Explore</div>
    <div class="container">
        <div class="row flex-row-reverse" id="search-row">
            <div class="col-md-6 col-sm-12 no-gutters align-self-end align-items-center justify-content-start d-flex" id="search">
                <div id="search-text">
                    Search
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="window-holder-markup" id="filter">
            <div class="window-markup">
                <div class="row row-no-padding no-gutters">
                    <div class="col-md-2 col-sm-12" id="types">
                        <div class="category-header">
                            Types
                        </div>
                        <div class="category-content">
                            <div class="category-item item-active">
                                Apps
                            </div>
                            <div class="category-item item-disabled">
                                Actions
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12" id="categories">
                        <div class="category-header">
                            Categories
                        </div>
                        <div class="category-content">
                            <div class="category-item item-disabled">
                                Api management
                            </div>
                            <div class="category-item item-disabled">
                                Char
                            </div>
                            <div class="category-item item-active">
                                Code review
                            </div>
                            <div class="category-item item-disabled">
                                Continious integration
                            </div>
                            <div class="category-item item-disabled">
                                Dependency managment
                            </div>
                            <div class="category-item item-disabled">
                                Delpoyment
                            </div>
                            <div class="category-item item-disabled">
                                IDEs
                            </div>
                            <div class="category-item item-disabled">
                                Learning
                            </div>
                            <div class="category-item item-disabled">
                                Localization
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12" id="filters">
                        <div class="category-header">
                            Filters
                        </div>
                        <div class="category-content">
                            <div class="category-item item-disabled">
                                New
                            </div>
                            <div class="category-item item-disabled">
                                Free Trials
                            </div>
                            <div class="category-item item-disabled">
                                Github Enterprose
                            </div>
                            <div class="category-item item-active">
                                Paid
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12" id="verification">
                        <div class="category-verification">
                            Verification
                        </div>
                        <div class="category-item item-disabled">
                            Verified
                        </div>
                        <div class="category-item item-disabled">
                            Unverified
                        </div>
                        <div class="category-item item-disabled">
                            Verified creator
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-12" id="your-items">
                        <div class="category-verification">
                            Your Items
                        </div>
                        <div class="category-item item-disabled">
                            None
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row " id="result">
            <div class="col-md-5 no-gutters">
                <div class="result-header">
                    <div class="result-header-type">
                        <h1>Apps</h1>
                        <h4>Community and etc</h4>
                    </div>
                    <div class="result-quantity">
                        10 results
                    </div>
                    <div class="result-tags">
                        <span class="result-tag"> Apps </span> - 
                        <span class="result-tag"> Code review </span> - 
                        <span class="result-tag"> Paid </span>
                    </div>
                    <div class="results">
                        <div class="result-item item-active">
                            <div class="result-header">
                                Robyzo
                            </div>
                            <div class="result-subheader">
                                By Robyzo, Inc
                            </div>
                            <div class="result-description">
                                No-code infrastructure platform for develpers in IOT things
                            </div>
                        </div>
                        <div class="result-item item-disabled">
                            <div class="result-header">
                                Identoid
                            </div>
                            <div class="result-subheader">
                                By Peanuter
                            </div>
                            <div class="result-description">
                                Value is used as the initial
                            </div>
                        </div>
                        <div class="result-item item-disabled">
                            <div class="result-header">
                                FlowUI
                            </div>
                            <div class="result-subheader">
                                By FlowUI
                            </div>
                            <div class="result-description">
                                Builds and runs mobile UI non-flaky tests. Designed for QA
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-7 no-gutters readme-holder">
                <div class="readme-header">
                    Robyzo
                </div>
                <div class="updated">
                    Updated: 11/15/2017
                </div>
                <div class="readme-tags row no-gutters">
                    Tags:
                    <div class="readme-tag">Apps</div> 
                    <div class="readme-tag">Paid</div> 
                </div>
                <div class="readme-text">
                    An apartment is a logical container within a process for objects sharing the same thread access requirements.
                    
                    Becaouse COM classes use apartments, the common lagnuage  You can control the type of apartment created by setting ate ApartmentState property of the thread to one of values of the ApartmentState enumeration.
                    
                    Remarks
                    
                    Applies an accumulator function over a sequence. The specified seed value 
                    
                    Open page
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="footer">
            <div class="row no-gutters">
                <div class="col">
                    <div class="logo logo-left" style=" text-align: left; !important;">
                        <span class="logo-text">ARTIF</span>Y
                    </div>
                </div>
                <div class="col" style="text-align: right">
                    <a href="https://github.com/Reennon/ArtifyUI" type="_blank" style="border:0; text-decoration:none; outline:none">
                        <i class="fa fa-github" style="font-size:2.5rem;!important;"></i>
                    </a>
                </div>
            </div>
            <div class="row no-gutters credentials">
                2021 (c) Artify Inc.<br>
                All rights reserved
            </div>
        </div>
    </div>
</div>
@code {
    
}